<div class="main d-flex flex-column align-items-center justify-content-center gap-3">
    <div class="main_header d-flex flex-row justify-content-between align-items-center mt-5 w-95">
        <p class="title text-black font-24 fw-600 mar0">Blogs</p>
        <!-- <button class="bg-black text-white font-16 fw-600 br-6 p-1 px-4" routerLink="/super-admin-module/add-category">Create</button> -->
    </div>

    <div class="table-container w-95">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Category Name</th>
                    <th>Sub Category Name</th>
                    <th>Description</th>
                    <th>Create Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blog of blogsList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ blog.blogName }}</td>
                    <td>{{ blog.category.categoryName || 'N/A' }}</td>
                    <td>{{ blog.subCategory || 'N/A' }}</td>
                    <td [title]="blog.content">{{ blog.content | slice: 0:20 }}{{ blog.content.length > 20 ? '...' : ''
                        }}</td>
                    <td>{{ blog.createdAt | date }}</td>
                    <td>
                        <button class="btn  btn-md me-2" (click)="viewBlog(blog._id)">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                        <button class="btn  btn-md" (click)="deleteBlogs(blog._id)">
                            <i class='bx bx-trash-alt font-22 text-danger'></i>
                        </button>
                        <button class="btn btn-sm" [ngClass]="{'btn-success': blog.approved, 'btn-secondary': !blog.approved}" [disabled]="blog.approved === true"
                            (click)="approveBlog(blog._id)">
                            {{blog.approved === true ? 'Approved' : 'Approve'}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>