<div class="main d-flex flex-column align-items-center justify-content-center gap-3">
    <div class="main_header d-flex flex-row justify-content-between align-items-center mt-5 w-95">
        <p class="title text-black font-24 fw-600 mar0">SUB CATEGORY</p>
        <button class="bg-black text-white font-16 fw-600 br-6 p-1 px-4" routerLink="/super-admin-module/add-sub-category">Create</button>
    </div>
    
    <div class="table-container w-95">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sub Category Name</th>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td *ngFor="let sub of category.subCategory">{{ sub }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <button class="btn  btn-md me-2">
                            <i class="fa-solid fa-edit"></i> 
                        </button>
                        <button class="btn  btn-md" >
                            <i class="fa-solid fa-trash"></i> 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
