
/* Blog Card Container */
.blog-card {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px auto;
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  
  /* Card Header */
  .card-header {
    // text-align: center;
    padding-bottom: 18px;
    border-bottom: 1px solid #eee;
  }
  .card-header-img {
    height: 300px;
  }
  .card-header-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Card Body */
  .card-body {
    padding: 16px;
  }
  
  .card-body .blog-description {
    // font-size: 0.9rem;
    color: #555;
    // margin-bottom: 12px;
    line-height: 1.6;
  }
  
  .card-body p {
    // margin: 8px 0;
    // font-size: 0.9rem;
    color: #555;
  }
  
  .card-body .status-badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
  }
  
  .status-badge.published {
    background-color: #28a745; /* Green */
  }
  
  .status-badge.draft {
    background-color: #ffc107; /* Yellow */
  }
  
  .status-badge.unpublished {
    background-color: #dc3545; /* Red */
  }
  
  /* Card Footer */
  .card-footer {
    // border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
  }
  
  .card-footer button {
    padding: 8px 12px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-footer .btn-edit {
    background-color: #007bff; /* Blue */
  }
  
  .card-footer .btn-edit:hover {
    background-color: #0056b3;
  }
  
  .card-footer .btn-delete {
    background-color: #dc3545; /* Red */
  }
  
  .card-footer .btn-delete:hover {
    background-color: #a71d2a;
  }
  
  .card-footer .btn-preview {
    background-color: #17a2b8; /* Teal */
  }
  
  .card-footer .btn-preview:hover {
    background-color: #117a8b;
  }
  
  .card-footer .btn-publish {
    background-color: #28a745; /* Green */
  }
  
  .card-footer .btn-publish:hover {
    background-color: #1c7430;
  }
  
  /* Responsive Design */
  @media (max-width: 599px) {
    .blog-card {
      max-width: 100%;
    }
    .card-header-img{
      width: 100%;
      height: auto;
    }
    .card-header-title {
      width: 100% ;
    }
    .card-body{
      gap: 20px;
    }
    .card-footer {
      justify-content: center !important;
    }
  }

  @media screen and (min-width:600px) and (max-width:1023px) {
    .card-header-img{
      width: 100%;
      height: 250px;
    }
    .card-header-title {
      width: 100% ;
    }
  }
  