<div class="main d-flex flex-column align-items-center justify-content-center gap-3">
    <div class="main_header d-flex flex-row justify-content-between align-items-center mt-5 w-95">
        <p class="title text-black font-24 fw-600 mar0">User Uploaded Links</p>
    </div>
    
    <div class="table-container w-95">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User Name</th>
                    <th>Link</th>
                    <th>Created On</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let link of videoLinks; let i = index">
                    <td class="font-14 fw-400">{{ i + 1 }}</td>
                    <td class="font-14 fw-400">{{ link.createdBy?.username || 'N/A' }}</td>
                    <td class="font-14 fw-400">
                        <a [href]="link.embeddedYtLink[0]" target="_blank" class="text-blue" title="Preview Link">{{ link.embeddedYtLink[0] }}</a>
                    </td>
                    <td class="font-14 fw-400">{{ link.createdAt | date: 'short' }}</td>
                    <td>
                        <button class="btn btn-sm w-40" [ngClass]="{'btn-success': link.isApproved, 'btn-secondary': !link.isApproved}" [disabled]="link.isApproved === true"
                            (click)="approveLink(link._id, true)">
                            {{link.isApproved === true ? 'Accepted' : 'Accept'}}
                        </button>
                        <button class="btn  btn-md" (click)="deleteVideoLink(link._id)">
                            <i class='bx bx-trash-alt font-22 text-danger'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
















