<div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
<div class="main_header d-flex flex-row justify-content-between align-items-center w-100 mt-5">
    <p class="title text-black font-24 fw-600 mar0">WRITERS DETAILS</p>
</div>

<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Create Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let admin of adminList; let i = index">
                <td>{{ i + 1 }}</td>
                <td class="font-14 fw-400">{{admin.username}}</td>
                <td class="font-14 fw-400">{{admin.email}}</td>
                <td class="font-14 fw-400">{{admin.phoneNo}}</td>
                <td class="font-14 fw-400">{{admin.createdAt}}</td>
                <td class="d-flex gap-3">
                    <i class='bx bx-trash-alt font-22 text-danger'></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>