<div *ngIf="userRole === 1" class="sidenav d-flex flex-column align-items-center justify-content-start bg-black">
    <div class="sidenav_body d-flex flex-column align-items-center justify-content-center gap-4 p-4">

        <div class="logo d-none d-sm-none d-md-none d-lg-flex">
            <h1 class="gradient-text font-24 fw-600">Yoneak Scripts</h1>
        </div>
        <div class="logo d-flex align-items-center justify-content-between d-sm-flex d-md-flex d-lg-none w-100">
            <h1 class="gradient-text font-24 fw-600">Yoneak Scripts</h1>
            <i class="fa-regular fa-xmark text-white font-24" (click)="closeSidenav()"></i>
        </div>

        <div class="menus d-flex flex-column align-items-start justify-content-start gap-4 w-100">
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-600 text-d-n br-6 py-2 px-4">
                    <i class="fa-regular fa-chart-bar me-2"></i> Dashboard
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-600 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/admin-details" routerLinkActive="active-menu">
                    <i class="fa-regular fa-user me-2"></i> Admin Details
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-600 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/user-details" routerLinkActive="active-menu">
                    <i class="fa-regular fa-user me-2"></i> User Details
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-600 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/scripts-details" routerLinkActive="active-menu">
                    <i class="fa-regular fa-file me-2"></i> Scripts Details
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-600 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/category" routerLinkActive="active-menu">
                    <i class="fa-regular fa-file me-2"></i> Category
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-600 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/sub-category"  routerLinkActive="active-menu">
                    <i class="fa-regular fa-file me-2"></i> Sub Category
                </a>
            </div>
        </div>
    </div>
</div>




<div *ngIf="userRole === 2" class="sidenav d-flex flex-column align-items-center justify-content-start bg-black">
    <div class="sidenav_body d-flex flex-column align-items-center justify-content-center gap-4 p-4">

        <div class="logo d-none d-sm-none d-md-none d-lg-flex">
            <h1 class="gradient-text font-24 fw-600">Yoneak Scripts</h1>
        </div>
        <div class="logo d-flex align-items-center justify-content-between d-sm-flex d-md-flex d-lg-none w-100">
            <h1 class="gradient-text font-24 fw-600">Yoneak Scripts</h1>
            <i class="fa-regular fa-xmark text-white font-24" (click)="closeSidenav()"></i>
        </div>

        <div class="menus d-flex flex-column align-items-start justify-content-start gap-4 w-100">
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-600 text-d-n br-6 py-2 px-4"
                    routerLink="admin/my-scripts" routerLinkActive="active-menu">
                    <i class="fa-regular fa-user me-2"></i> My Scripts
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-600 text-d-n br-6 py-2 px-4"
                    routerLink="admin/add-scripts my-scripts" routerLinkActive="active-menu">
                    <i class="fa-regular fa-user me-2"></i> Add blogs
                </a>
            </div>
        </div>
    </div>
</div>