<div *ngIf="userRole === 1" class="sidenav d-flex flex-column align-items-center justify-content-start bg-black">
    <div class="sidenav_body d-flex flex-column align-items-center justify-content-center gap-4 p-4 w-90">

        <div class="logo d-none d-sm-none d-md-none d-lg-flex">
            <img src="assests/images/new_logo.png" alt="logo" width="90%">
            <!-- <h1 class="text-white font-36 fw-600">Yoneak Scripts</h1> -->
        </div>
        <div class="logo d-flex align-items-center justify-content-between d-sm-flex d-md-flex d-lg-none w-100">
            <img src="assests/images/new_logo.png" alt="logo" width="90%">
            <i class="fa-solid fa-xmark text-white font-24" (click)="closeSidenav()"></i>
        </div>

        <div class="menus d-flex flex-column align-items-start justify-content-start gap-4 w-100">
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4">
                    <i class="fa-regular fa-chart-bar me-2"></i> Dashboard
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/admin-details" routerLinkActive="active-menu">
                    <i class="fa-regular fa-user me-2"></i> Brand Details
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/user-details" routerLinkActive="active-menu">
                    <i class="fa-regular fa-user me-2"></i> Creators Details
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/blogs" routerLinkActive="active-menu">
                    <i class="fa-solid fa-newspaper me-2"></i> Scripts
                </a>
            </div>
            <!-- <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/scripts-details" routerLinkActive="active-menu">
                    <i class="fa-regular fa-file me-2"></i> Scripts Details
                </a>
            </div> -->
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/user-uploaded-links" routerLinkActive="active-menu">
                    <i class="fa-solid fa-link me-2"></i> User Links
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/category" routerLinkActive="active-menu">
                    <i class="fa-regular fa-folder me-2"></i> Category
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    routerLink="super-admin-module/sub-category" routerLinkActive="active-menu">
                    <i class="fa-regular fa-folder-open me-2"></i> Sub Category
                </a>
            </div>
            <!-- <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    (click)="logout()">Logout
                </a>
            </div> -->
            <div class="menu_list w-100">
                <a class="logout-button d-flex align-items-center justify-content-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4 cursor"
                    (click)="logout()">
                    <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
                </a>
            </div>
        </div>
    </div>
</div>




<div *ngIf="userRole === 2" class="sidenav d-flex flex-column align-items-center justify-content-start bg-black">
    <div class="sidenav_body d-flex flex-column align-items-center justify-content-center gap-4 p-4 w-90">

        <div class="logo d-none d-sm-none d-md-none d-lg-flex">
            <img src="assests/images/new_logo.png" alt="logo" width="90%">
            <!-- <h1 class="text-white font-36 fw-500">Yoneak Scripts</h1> -->
        </div>
        <div class="logo d-flex align-items-center justify-content-between d-sm-flex d-md-flex d-lg-none w-100">
            <img src="assests/images/new_logo.png" alt="logo" width="90%">
            <i class="fa-regular fa-xmark text-white font-24" (click)="closeSidenav()"></i>
        </div>


        <div class="menus d-flex flex-column align-items-start justify-content-start gap-4 w-100">
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    routerLink="admin/my-scripts" routerLinkActive="active-menu">
                    <i class="fa-regular fa-user me-2"></i> My Scripts
                </a>
            </div>
            <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    routerLink="admin/add-scripts" routerLinkActive="active-menu">
                    <i class="fa-regular fa-user me-2"></i> Add Scripts
                </a>
            </div>
            <!-- <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    routerLink="admin/user-uploaded-links" routerLinkActive="active-menu">
                    <i class="fa-solid fa-link me-2"></i> User Links
                </a>
            </div> -->
            <!-- <div class="menu_list w-100">
                <a class="d-flex align-items-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    (click)="logout()">
                    Logout
                </a>
            </div> -->
            <div class="menu_list w-100">
                <a class="logout-button d-flex align-items-center justify-content-center text-white font-18 fw-500 text-d-n br-6 py-2 px-4"
                    (click)="logout()">
                    <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
                </a>
            </div>
        </div>
    </div>
</div>