<div class="sidenav d-flex flex-column align-items-center justify-content-center">
    <div class="sidenav_body d-flex flex-column align-items-center justify-content-center gap-4 p-4">
        <div class="logo">
            <h1 class="gradient-text font-24 fw-600">Yoneak Scripts</h1>
        </div>
        <div class="menus d-flex flex-column align-items-start justify-content-start gap-3 w-100">
            <div class="menu_list w-100">
                <a class="text-black font-18 fw-600 text-d-n">Dashboard</a>
            </div>
            <div class="menu_list w-100">
                <a class="text-black font-18 fw-600 text-d-n">Admin Details</a>
            </div>
            <div class="menu_list w-100">
                <a class="text-black font-18 fw-600 text-d-n">User Details</a>
            </div>
           
            <div class="menu_list w-100">
                <a class="text-black font-18 fw-600 text-d-n">Add Scripts</a>
            </div>
        </div>
    </div>
</div>