<div class="footer_main d-flex flex-wrap align-items-center justify-content-center bg-blue py-5">
    <div class="footer_body d-flex flex-wrap align-items-center justify-content-between w-90">
        <div class="social_icons d-flex gap-3">
            <i class="fa-brands fa-facebook-f text-white font-18 "></i>
            <i class="fa-brands fa-instagram text-white font-18"></i>
            <i class="fa-brands fa-linkedin-in text-white font-18"></i>
        </div>
        <div class="logo">
            <h1 class="text-white font-18 fw-600">Yoneak Scripts</h1>
        </div>
        <div class="policy">
            <p class="text-white font-16 fw-600">&copy; 2024 Yoneak Scripts | All Rights Reserved</p>
        </div>
    </div>
</div>
