mat-sidenav{
    background-color: black !important;
}
.outlet-100 {
    min-height: 100vh;
    // background-color: #F2F6FF;
    // margin-top: 61px;
  }
@media screen and (min-width:1561px) {
    mat-sidenav{
        width: 350px !important;
    }
}