.banner{
    background-image: url(../../../../public/assests/images/blogs_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}
.blogs_content_left{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
// .blogs_card:nth-child(2) .card_image{
//     height: 300px;
// }
.card_image{
    width: 300px;
    height: 250px;
}
.card_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category_heading p , .subcribe_heading p , .popular_heading p{
    position: relative;
}
.category_heading p:after , .subcribe_heading p:after , .popular_heading p:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width:40px;
    height: 2px;
    background-color: black;

}
.category_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.category_list_item {
    position: relative;
}
.category_name{
    position: absolute;
    bottom: 15px;
}
.subcribe_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}