<div class="blogs_main d-flex flex-column align-items-center justify-content-center mt-5">
    <div class="blogs_body d-flex flex-column align-items-center justify-content-center w-100 mt-5">
        <!-- <h1 class="text-black font-40 fw-800">Scripts</h1> -->
        <!-- <div class="category-chips d-flex flex-wrap gap-3 w-90 mt-4">
            <div 
              *ngFor="let category of categoryList" 
              class="category-chip text-black text-a-c font-16 fw-400 br-6 cursor px-3 py-2  w-15"
              [class.selected]="selectedCategory === category._id"
              (click)="selectCategory(category._id)">
              {{ category.categoryName }}
            </div>
          </div> -->
        <div class="category-section d-flex flex-column align-items-start w-90">
            <div class="category-chips d-flex flex-wrap gap-3 w-90 mt-2">
                <div *ngFor="let category of displayedCategories"
                    class="category-chip category_card text-black text-a-c font-16 fw-400 br-6 cursor w-15 px-3 py-2 "
                    [class.selected]="selectedCategory === category._id" (click)="selectCategory(category._id)">
                    <p>{{ category.categoryName }}</p>
                </div>

                <div class="category-more-dropdown position-relative">
                    <div *ngIf="categoryList.length > maxDisplay"
                        class="category-chip text-black text-a-c font-16 fw-400 br-6 cursor px-3 py-2">
                        More...
                    </div>
                    <div class="dropdown-menu position-absolute d-flex flex-column gap-2">
                        <div *ngFor="let category of hiddenCategories"
                            class="category-chip text-black text-a-c font-16 fw-400 br-6 cursor px-3 py-2"
                            [class.selected]="selectedCategory === category._id" (click)="selectCategory(category._id)">
                            <p>{{ category.categoryName }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="blogs_main_content d-flex flex-wrap align-items-start justify-content-between w-90 py-5">
            <div class="blogs_left" style="float: left;width: 70%;">
                <div *ngIf="blogsList && blogsList.length > 0;" class=" blogs_left ">
                    <div class="blog_main_cards row  w-100">
                        <div class="blog_card col-xs-12 col-12 col-md-6 col-lg-4 mb-4 d-flex flex-column align-items-center gap-3  p-0"
                            *ngFor="let blog of blogsList">
                            <div class="card_image cursor"
                                (click)="blogsDetails(blog._id); updatePopularBlogsView(blog._id)">
                                <img [src]="blog.image ? blog.image : 'assests/images/blog_card_img2.jpg'"
                                    alt="blob_card_img" width="100%">
                                <!-- <img src="assests/images/blog_card_img2.jpg" alt="blob_card_img" width="100%"> -->
                            </div>
                            <div class="blog_card_bottom d-flex flex-column gap-3 pb-4 w-100">
                                <div
                                    class="blogs_card_text d-flex flex-column justify-content-between  gap-3 w-100 px-3">
                                    <p class=" text-black font-20 fw-700 cursor"
                                        (click)="blogsDetails(blog._id); updatePopularBlogsView(blog._id)"> {{
                                        blog.blogName | slice:0:25 }}...</p>
                                    <div class="blogs_card_desc d-flex flex-column gap-2">
                                        <div class="blogs_card_desc_info d-flex gap-4">
                                            <div class="admin">
                                                <p class="text-blue font-14 fw-500">By {{ blog.role === 2 ? 'BRAND' :
                                                    'Super Admin'}}</p>
                                            </div>
                                            <div class="date">
                                                <p class="font-14 fw-500">{{blog.createdAt | date}}</p>
                                            </div>
                                        </div>
                                        <div class="blogs_card_desc_para">
                                            <span class="truncate text-grey font-14 fw-400"
                                                [innerHTML]="blog.content"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="read_butn d-flex align-items-start justify-content-start w-100 px-3">
                                    <a class="text-black font-16 fw-500 cursor"
                                        (click)="blogsDetails(blog._id); updatePopularBlogsView(blog._id)">Read
                                        More
                                        <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <ng-template #noDataFound>
                        <div
                            class="w-70 no-data-message text-center d-flex flex-row align-items-center justify-content-center ">
                            <p class="font-30 text-grey fw-400">No Data Found</p>
                        </div>
                    </ng-template>

                </div>

            </div>

            <div class="blogs_content_right"
                style="position: sticky;top: 100px;z-index: 100;height: 80vh;float: right; overflow-y: scroll ; width: 28%;">
                <div
                    class="blogs_content_right_body  d-flex flex-column align-items-center justify-content-center gap-5">
                    <!-- <div class="categoty d-flex flex-column gap-4">
                        <div class="category_heading">
                            <p class="font-20 fw-800">Category</p>
                        </div>
                        <div class="category_list ">
                            <div class="category_list_item d-flex  justify-content-center"
                                *ngFor="let category of categoryList">
                                <div (click)="getBlogsList(category._id,'', '', true)" class="w-100">
                                    <img src="assests/images/blog_cat1.jpg" alt="category_bg_img" width="100%"
                                        class="categoty_bg">
                                    <p
                                        class="d-flex align-items-center justify-content-center category_name text-white font-14 fw-500 text-a-c w-100">
                                        {{category.categoryName}}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="subcribe d-flex flex-column gap-4">
                        <div class="subcribe_heading">
                            <p class="font-20 fw-800">Subscribe</p>
                        </div>
                        <div class="subcribe_list">
                            <div class="subcribe_list_item d-flex align-items-center gap-2 bg-light-grey p-2">
                                <a class="text-grey font-14 fw-500 text-d-n">
                                    <i class="fa-brands fa-facebook-f font-12 text-black"></i> Facebook</a>
                            </div>
                            <div class="subcribe_list_item bg-light-grey d-flex align-items-center gap-2  p-2">
                                <a class="text-grey font-14 fw-500 text-d-n">
                                    <i class="fa-brands fa-instagram font-12 text-black"></i> Instagram</a>
                            </div>
                            <div class="subcribe_list_item bg-light-grey d-flex align-items-center gap-2  p-2">
                                <a class="text-grey font-14 fw-500 text-d-n">
                                    <i class="fa-brands fa-linkedin-in font-12 text-black"></i> Linkedin</a>
                            </div>
                        </div>
                    </div> -->

                    <div
                        class="popular_article d-flex flex-column align-items-center justify-content-center gap-4 w-100">
                        <div class="popular_heading w-100 ms-4">
                            <p class="font-20 fw-800 ps-1">Popular Article</p>
                        </div>

                        <div class="popular_main_cards d-flex flex-column align-items-center br-6 w-90 px-3">
                            <div class="popular_card d-flex flex-row justify-content-between br-6 w-100 py-3 cursor"
                                *ngFor="let popular of popularBlogList">
                                <div class="popular_card_left"
                                    (click)="blogsDetails(popular._id); updatePopularBlogsView(popular._id)">
                                    <!-- <img [src]="popular.img" alt="popular_card_img" width="100%"> -->
                                    <img [src]="popular.image ? popular.image : 'assests/images/blog_card_img2.jpg'"
                                        alt="popular_card_img" width="100%" class="br-6">
                                </div>
                                <div class="popular_card_right d-flex flex-column gap-1 w-70"
                                    (click)="blogsDetails(popular._id); updatePopularBlogsView(popular._id)">
                                    <p class="text-black font-16 fw-500">{{popular.blogName | slice:0:35 }}...</p>
                                    <span class="text-grey font-14 fw-500">{{popular.createdAt | date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>




<!-- <div class="blog-carousel w-90">
            <div class="carousel-content">
                <div *ngIf="currentBlog" class="blog-card d-flex">
                    <div class="caurosel_img w-80">
                        <img src="assests/images/blog_card_img2.jpg" alt="img" >
                    </div>
                    <div class="blog-info d-flex flex-column gap-5 p-5" >
                        <h2 class="blog-title font-32 fw-700">{{ currentBlog.title }}</h2>
                        <p class="blog-meta">
                            By - {{ currentBlog.author }} &nbsp; | &nbsp; {{ currentBlog.category }}
                        </p>
                        <p class="blog-description font-16 fw-500">{{ currentBlog.description }}</p>
                        <a class="read-more text-black font-18 fw-800 text-d-n" >Read More →</a>
                    </div>
                </div>
            </div>
            <div class="carousel-navigation d-flex gap-2">
                <button (click)="prevBlog()" class="nav-btn">←</button>
                <button (click)="nextBlog()" class="nav-btn">→</button>
            </div>
        </div> -->