<div class="blogs_main d-flex flex-column align-items-center justify-content-center">
    <div class="blogs_body d-flex flex-column align-items-center justify-content-center w-100">
        <div class="banner d-flex align-items-center justify-content-center w-100">
            <h1 class=" text-white font-40">Blogs</h1>
        </div>
        <div class="blogs_main_content d-flex flex-wrap align-items-start justify-content-between w-90 py-5">
            <div class="blogs_content_left  w-70">
                <div class="blogs_card d-flex flex-column align-items-center justify-content-start gap-3"
                    *ngFor="let blog of blogCards">
                    <div class="card_image">
                        <img [src]="blog.image" alt="blob_card_img" width="100%">
                    </div>
                    <div class="blogs_card_text d-flex flex-column gap-3">
                        <p class="text-blue font-20 fw-700">{{blog.title}}</p>
                        <div class="blogs_card_desc d-flex flex-column gap-2">
                            <div class="blogs_card_desc_info d-flex gap-4">
                                <div class="admin">
                                    <p class="text-blue font-14 fw-500">By Admin</p>
                                </div>
                                <div class="date">
                                    <p class="font-14 fw-500">{{blog.date}}</p>
                                </div>
                            </div>
                            <div class="blogs_card_desc_para">
                                <span class="text-grey font-16 fw-400">{{blog.desc}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="read_butn d-flex align-items-start justify-content-start w-100">
                        <a class="text-back font-16 fw-700" routerLink="./blog-details">Read More</a>
                    </div>
                </div>
            </div>
            <div class="blogs_content_right d-flex flex-column gap-5 w-25">
                <div class="categoty d-flex flex-column gap-4">
                    <div class="category_heading">
                        <p class="font-20 fw-800">Category</p>
                    </div>
                    <div class="category_list ">
                        <div class="category_list_item d-flex  justify-content-center"
                            *ngFor="let category of category">
                            <img [src]="category.img" alt="category_bg_img" width="100%" class="categoty_bg">
                            <p class="category_name text-white font-16 fw-800">{{category.name}}</p>
                        </div>
                    </div>
                </div>

                <div class="subcribe d-flex flex-column gap-4">
                    <div class="subcribe_heading">
                        <p class="font-20 fw-800">Subscribe</p>
                    </div>
                    <div class="subcribe_list">
                        <div class="subcribe_list_item d-flex align-items-center gap-2 bg-light-grey p-2">
                            <a class="text-grey font-14 fw-500 text-d-n">
                                <i class="fa-brands fa-facebook-f font-12 text-black"></i> Facebook</a>
                        </div>
                        <div class="subcribe_list_item bg-light-grey d-flex align-items-center gap-2  p-2">
                            <a class="text-grey font-14 fw-500 text-d-n">
                                <i class="fa-brands fa-instagram font-12 text-black"></i> Instagram</a>
                        </div>
                        <div class="subcribe_list_item bg-light-grey d-flex align-items-center gap-2  p-2">
                            <a class="text-grey font-14 fw-500 text-d-n">
                                <i class="fa-brands fa-linkedin-in font-12 text-black"></i> Linkedin</a>
                        </div>
                    </div>
                </div>

                <div class="popular_article d-flex flex-column gap-4">
                    <div class="popular_heading">
                        <p class="font-20 fw-800">Popular Article</p>
                    </div>

                    <div class="popular_main_cards d-flex flex-column align-items-start gap-4">
                        <div class="popular_card d-flex flex-row justify-content-between"
                        *ngFor="let popular of popularCard">
                            <div class="popular_card_left w-30">
                                <img [src]="popular.img" alt="popular_card_img">
                            </div>
                            <div class="popular_card_right d-flex flex-column gap-1 w-65">
                                <p class="text-black font-16 fw-600">{{popular.title}}</p>
                                <p class="text-grey font-14 fw-500">{{popular.date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>