<div class="header d-flex flex-row align-items-center justify-content-center w-100 py-2 bg-white">
  <div class="header_body d-flex flex-row align-items-center justify-content-between gap-3 w-95">

    <div class="logo d-flex" *ngIf="userRole === 3 || userRole == null || userRole === undefined">
      <a  (click)="navigateToHome()">
        <img src="assests/images/new_logo.png" class="cursor" alt="logo" width="35%">
      </a>
    </div>
    <i class="fa-solid fa-arrow-left font-24 d-none d-sm-none d-md-none d-lg-flex cursor" (click)="goBack()"
      *ngIf="userRole === 1 || userRole === 2"></i>
    <!-- Sidenav Toggle Icon -->
  

    <div class="right d-flex gap-3">
      <button *ngIf="!userRole" class="font-16 fw-600 br-6 bg-black text-white p-1 px-3" routerLink="/accounts/sign-in">Login</button>
      <!-- Profile Dropdown -->
      <div *ngIf="userRole" class="profile position-relative" (click)="toggleDropdown()">
        <div class="">
          <i class="fa-solid fa-user-circle fa-2x text-black cursor-pointer"></i>
        </div>
        <div class="dropdown-menu" [class.show]="isDropdownVisible">
          <ul>
            <li class="cursor" (click)="openProfileDialog()"><a>My Profile</a></li>
            <li (click)="logout()"><a>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="menu_icon d-sm-flex d-md-flex d-lg-none" (click)="toggleSidenav()"   *ngIf="userRole === 1 || userRole === 2" >
      <i class="fa-solid fa-bars font-22"></i>
    </div>
  </div>
</div>