.header {
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Profile icon */
.profile {
    position: relative !important;
    cursor: pointer;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #3f51b5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown Menu */
.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
    display: none;
    z-index: 1000;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.dropdown-menu ul li {
    padding: 10px 20px;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.dropdown-menu ul li:hover {
    background-color: #f1f1f1;
}

/* Show dropdown */
.dropdown-menu.show {
    display: block;
}

@media screen and (max-width:599px) {
    .header{
        width: 100%;
    }
}

@media screen and (min-width:600px) and (max-width:1025px) {
    .header{
        width: 100%;
    }
}

@media screen and (min-width:1561px) {
    // .header-body-70 {
    //     width: 70% !important;
    //   }
    //   .header-body-95 {
    //     width: 98% !important;
    //   }
}

