<div class="header d-flex flex-row align-items-center justify-content-center py-2">
    <div class="header_body d-flex flex-row align-items-center justify-content-between w-95">
        <div class="back_icon">
            <i class="fa-solid fa-arrow-left font-22"></i>
        </div>
        <!-- <div class="logo">
            <h1 class="gradient-text font-18 fw-700">Yoneak Scripts</h1>
        </div> -->
        <div class="profile">
            <div class="circle"></div>
        </div>
    </div>
</div>