.login_main {
    height: 90vh;
}

.login_body {
    height: 580px;
    // border-bottom-right-radius: 15px;
}

.login_left {
    position: relative;
}

.formName {
    position: absolute;
    // left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.login_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.login_left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Light black overlay */
    z-index: 1;
    /* Ensure the overlay is above the image */
}

.form_field_input {
    position: relative;
}

.form_field_input input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
}

.form_field_input input:focus-visible {
    outline: none;
}

::placeholder {
    color: white;
}

.input_icon {
    position: absolute;
    right: 0;
}

.already_have_acc a {
    color: yellow;
}

.form_field , .login_body , .formName{
    opacity: 0;
    transform: translateY(20px); /* Moves content down a bit */
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
}


@media screen and (max-width:599px) {
    .login_main {
        height: auto;
    }

    .login_body {
        width: 90% !important;
        height: auto;
        padding: 20px 0;
    }

    .login_left {
        display: none !important;
    }

    .login_right {
        width: 100% !important;
        padding: 60px 0;
    }
}

@media screen and (min-width:600px) and (max-width:1023px) {
    .login_body {
        width: 90% !important;
        height: 500px;
    }
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    .login_body {
        width: 80% !important;
        height: 500px;
    }
}