<div class="bg-white">
    <div>
        <mat-card class="p-3 d-flex flex-column gap-3 mt-5">
            <h3 class="font-24 fw-600 text-blue mt-3">Add Blog</h3>
            <form [formGroup]="addBlogsCategoryForm" class="d-flex flex-column gap-3 w-100">
                <div class="d-flex flex-column gap-2 w-50">
                    <label class="text-black links fw-500">Blog Name</label>
                    <input type="text" class="p-2" formControlName="blogName">
                </div>
                <div class="d-flex flex-column gap-2 w-50">
                    <label class="text-black links fw-500">Select Category</label>
                    <select class="p-2" formControlName="category">
                        <option value="" disabled>Select a Category</option>
                        <option *ngFor="let category of categoryList" [value]="category._id">
                            {{ category.categoryName }}
                        </option>
                    </select>
                    <span
                        *ngIf="addBlogsCategoryForm.controls.category.errors?.['required']  && (addBlogsCategoryForm.controls.category.dirty || addBlogsCategoryForm.controls.category.touched)"
                        class="text-danger">
                        Category Name Is Required
                    </span>
                </div>
                <div class="d-flex flex-column gap-2 w-50">
                    <label class="text-black links fw-500">Select Sub Category</label>
                    <select class="p-2" formControlName="subCategory">
                        <option value="" disabled>Select a Sub Category</option>
                        <option *ngFor="let category of subCategoryList" [value]="category._id">
                            {{ category.subcategoryName }}
                        </option>
                    </select>
                    <span
                        *ngIf="addBlogsCategoryForm.controls.subCategory.errors?.['required']  && (addBlogsCategoryForm.controls.subCategory.dirty || addBlogsCategoryForm.controls.subCategory.touched)"
                        class="text-danger">
                        Sub Category Is Required
                    </span>
                </div>
                <div class="d-flex flex-column gap-2 w-50">
                    <label class="text-black links fw-500">Blog Image</label>
                    <input type="file" id="logoInput" style="display: none" accept="image/*"
                        (change)="onFileSelected($event)">
                    <div class="card_dash p-3 br-5 d-flex flex-column gap-2 align-items-center justify-content-center cursor"
                        (click)="triggerFileInput()">
                        <div class="d-flex flex-column gap-2">
                            <i class="fa-solid fa-upload paragraph text-accent text-a-c" id="uploadIcon"></i>
                            <p class="mar0 text-grey links fw-500 text-a-c" id="selectedLogoName">
                                {{ selectedFile ? selectedFile.name : 'Drop your image here' }}
                            </p>
                        </div>
                        <!-- <div class="drop_image d-flex flex-row">
                            <img *ngIf="selectedFile" [src]="imagePreviewUrl" alt="Selected Image"
                                id="uploadedLogoImage" [style.width]="'100px'">
                        </div> -->
                    </div>
                </div>

                <div class="d-flex flex-column gap-2 w-100">
                    <label class="text-black links fw-500">Blog Description</label>
                    <angular-editor formControlName="blogDescription" class="custom-editor text-black"></angular-editor>
                </div>
                <div class="d-flex flex-row justify-content-center gap-2 w-100 mt-3">
                    <button type="button" class="btn btn-danger links">Cancel</button>
                    <button type="button" class="btn btn-success links" (click)="submit()">Submit</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>