




<!-- <div class="main d-flex flex-column align-items-center justify-content-center pb-5 mt-5">
  <div class="main_body d-flex flex-column align-items-center justify-content-center gap-4 w-90 mt-3">
    <div class="main_header d-flex flex-row justify-content-between align-items-center w-100">
      <p class="title text-blue font-24 fw-600 mar0">MY SCRIPTS</p>
    </div>
    <div *ngFor="let blog of blogsList" class="blog-list-container d-flex flex-column gap-4 w-100">
      <div class="blog-card d-flex flex-column gap-3 w-100 p-4">
        <div class="blog-header d-flex flex-column gap-3">
          <h2 class="blog-title font-24 fe-700">{{blog.blogName}}</h2>
          <p class="blog-meta">{{blog.createdAt | date}} | {{blog.category.categoryName}}</p>
        </div>
        <div class="blog-img">
          <img [src]="blog.image ? blog.image : 'assests/images/blog_card_img2.jpg'" alt="Blog Image" class="blog-thumbnail br-6 w-100">
        </div>
        <div class="blog-content d-flex flex-column gap-3">
          <p class="text-grey font-16 fw-500">{{blog.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->