
  .blog-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
  }
  .blog-img{
    width: 100%;
    height: 350px;
  }
  .blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .blog-list-container {
      padding: 8px;
    }
  
    .blog-card {
      padding: 12px;
    }
  
    .blog-title {
      font-size: 1.5rem;
    }
  }



 
  