.link-upload-container {
    max-width: 600px;
    // margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
  }
  
  .input-group {
    display: flex;
    gap: 10px;
  }
  
  .video-cards-container .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .video-cards-container .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .text-truncate {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  