<div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
  <div class="blog_details_main d-flex flex-column align-items-center justify-content-center mt-5">
    <div *ngFor="let details of blogsList"
        class="blog_details_body d-flex flex-column align-items-center justify-content-center gap-5 w-90 pb-5 my-5">
        <div class="blog_details_title d-flex align-items-end justify-content-center w-100">
            <h1 class="text-black font-45 fw-800 text-a-c w-80">{{details.blogName}}
            </h1>
        </div>
        <div class="blog_details_date d-flex flex-column align-items-center justify-content-center w-100">
            <div class="date d-flex align-items-center justify-content-center w-40">
                <p>{{details.createdAt | date}} | {{details.category.categoryName}}</p>
            </div>
            <div class="admin d-flex align-items-center justify-content-center w-40">
                <p style="text-wrap: nowrap;">By {{details.createdBy.username}}</p>
            </div>
        </div>
        <div class="blog_details_desc flex-wrap w-100">
            <!-- Content Section -->
            <div class="blog_details_content d-flex flex-column gap-3 w-60">
                <div class="scrollable_content overflow-auto p-3">
                    <p class="text-grey font-16 fw-500" [innerHTML]="details.content"></p>
                </div>
            </div>

            <!-- Image Section -->
            <div class="blog_details_desc_img w-35">
                <img [src]="details.image ? details.image : 'assets/images/blog_card_img2.jpg'" alt="image"
                    style="width: 100%; height: auto; object-fit: cover;">
            </div>
        </div>

    </div>
</div>