<div class="blog_details_main d-flex flex-column align-items-center justify-content-center mt-5">
    <div *ngFor="let details of blogsList" class="blog_details_body d-flex flex-column align-items-center justify-content-center gap-5 w-70 pb-5 mt-5">
        <div class="blog_details_title d-flex align-items-end justify-content-center w-100">
            <h1 class="text-black font-45 fw-800 text-a-c w-80">{{details.blogName}}
            </h1>
        </div>
        <div class="blog_details_date d-flex flex-column align-items-center justify-content-center w-100">
            <div class="date d-flex align-items-center justify-content-center w-40">
                <p>{{details.createdAt | date}}</p>
            </div>
            <div class="admin d-flex align-items-center justify-content-center w-40">
                <p>Admin</p>
            </div>
        </div>
        <div class="blog_details_desc d-flex flex-column gap-4 w-100">
            <div class="blog_details_desc_img">
                <img src="assests/images/blog_card_img2.jpg" alt="image" width="100%">
            </div>
            <div class="blog_details_para d-flex flex-column gap-3">
                <p class="text-grey font-16 fw-500">{{details.content}}
                </p>
                <!-- <p class="text-grey font-16 fw-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate totam at minima, minus eligendi
                    cum tempore, quod nemo aliquam eum, in hic deserunt ipsum vitae saepe adipisci voluptas autem magni?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione aspernatur sunt corrupti saepe aut
                    aliquid quam cupiditate, non delectus ea inventore omnis sit est fugiat? Omnis, expedita harum!
                    Illo, praesentium.
                </p> -->
            </div>
        </div>
    </div>
</div>