<div class="blog_details_main d-flex flex-column align-items-center justify-content-center mt-5">
    <div *ngFor="let details of blogsList"
        class="blog_details_body d-flex flex-column align-items-center justify-content-center gap-5 w-70 pb-2 ">
        <div class="blog-header">
            <h1 class="blog-title text-black font-32 fw-500 text-a-c mt-5">{{details.blogName}}</h1>
            <div class="blog-meta text-a-c">
                <p class="date-category">{{details.createdAt | date}} | {{details.category.categoryName}}</p>
                <p class="author">By {{details.createdBy.username}}</p>
            </div>
        </div>
        <div class="blog_details_desc d-flex flex-wrap w-100">
            <div class="content-container mb-5">
                <div class="scrollable-content">
                    <p class="text-grey font-16 fw-500" [innerHTML]="details.content"></p>
                </div>
                <div class="action-buttons">
                    <button class="secondary-button font-14 fw-500" (click)="openVideo()">
                        SEE OTHER CREATORS VIDEOS
                    </button>
                    <button class="primary-button font-14 fw-500" (click)="openProfileDialog()">
                        SUBMIT YOUR CREATION LINK
                    </button>
                </div>
            </div>

            <div class="blog_details_desc_img sticky-image-container w-35">
                <img [src]="details.image ? details.image : 'assests/images/blog_card_img2.jpg'" alt="image"
                    style="width: 100%; height: 100%; object-fit: cover;">
            </div>
        </div>
    </div>
</div>